@CHARSET "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	text-shadow:0 0 0 !important;
	font-family: 'Nanum Gothic', "Myriad Pro","Consolas";
}

.main_content {
	margin : 0.2em 0.3em;
	min-height: 25em;
}
.ui-header {
	background: #044363 !important;
	color:#fff !important;
}
.menu-header-btn{
	background: none !important;
	border: none !important;
}
.buttonBox { text-align: right;margin-top:.5em; }
.searchBox { margin:.3em;} 
.searchBox table { border-collapse : collapse;}
.searchBox th { background: #eee; }
.searchBox th, .searchBox td { border:1px solid #ddd;}




/********************************** 메뉴관련 스타일 지정 */
	#menuList > .ui-first-child > a.ui-btn { 
		background:#333 !important; 
		color:#fff !important;
	}
	#menuPanel {
		background: #e9e9e9;
	}
	#menuPanel li {
		padding : 0 !important;
	}
	#menuPanel ul.depth0 a:hover {
		background: #ddd !important;
		color:#0c2c3c !important;
	}
	#menuPanel ul.depth0 a{
		font-weight: normal;
		background: #eee !important;
	}
	#menuPanel ul.depth1 a{
		background: #fff !important;
	}
	#menuPanel a.topMenu {
		border-color:#0c2c3c !important;
		background: #044363 !important;
		color:#fff !important;
		font-weight:normal;
		text-shadow:0 0 0 !important;
	}
	#menuPanel ul.depth0 > li > a {
	}
	#menuPanel li.currentMenu > a {
		background: #3388cc !important;
		color:#fff !important;
	}
	#menuNavigator {
		font-size:0.7em;
	}
/********************************** 메뉴관련 스타일 지정 */

/********** index css */
.ui-content { max-width:400px; margin:0 auto;}
.grid-box { 
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-bottom: 3px solid #ddd !important;
    border-right: 3px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
}
.ui-block-a{
	padding:.1em;
}
.ui-block-b{
	padding:.1em;
}
/********** index css */
.ui-controlgroup, fieldset.ui-controlgroup{ margin: 0;}