<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MGR0005">
	<select id="selectDivCodeList" parameterType="CmmnDivCodeVO" resultType="CmmnDivCodeVO">
		select
			A.CODE as divCode,
			A.CODE_NM as divCodeNm,
			A.CODE_DC as divCodeDc,
			A.GRP_CODE as divGrpCode,
			A.USE_AT as divUseAt,
			A.PARENT_CODE as divParentCode
		from CMMN_CODE A , CMMN_CODE B 
		where 1=1
		AND A.CODE = B.PARENT_CODE 
		AND A.GRP_CODE = 'CAR' 
		 <if test="divCode != null and divCode != '' ">
			 AND A.CODE = #{divCode}
		 </if>
		 <if test="divCodeNm != null and divCodeNm != '' ">
			 AND A.CODE_NM LIKE CONCAT( '%', #{divCodeNm} , '%' )
		 </if>
		 <if test="divUseAt != null and divUseAt != '' ">
			 AND A.USE_AT = #{divUseAt}
		 </if>
		GROUP BY A.CODE
	</select>	
	<select id="selectParentCode" parameterType="CmmnCodeVO" resultType="CmmnCodeVO">
		select
			CODE			as code,
			CODE_NM			as codeNm
		 from CMMN_CODE
		 where 1=1
		 AND GRP_CODE = 'CAR'
		 <if test="code != null and code != '' ">
			 AND CODE = #{code}
		 </if>
		 <if test="codeNm != null and codeNm != '' ">
			 AND CODE_NM LIKE CONCAT('%',#{codeNm},'%')
		 </if>
	</select>
	<select id="selectCmmnCode" parameterType="CmmnCodeVO" resultType="CmmnCodeVO">
		 select
			PARENT_CODE		as parentCode,
			CODE			as code,
			CODE_NM			as codeNm,
			CODE_DC			as codeDc,
			USE_AT			as useAt,
			SORT			as sort,
			FRST_REGIST_DT	as frstRegistDt,
			FRST_REGISTER	as frstRegister,
			LAST_REGIST_DT	as lastRegistDt,
			LAST_REGISTER   as lastRegister
		 from CMMN_CODE
		 where 1=1
		 AND (
			PARENT_CODE != 'ROOT' AND PARENT_CODE != '' AND PARENT_CODE IS NOT NULL
		 )
		 AND GRP_CODE = 'CAR'
		 <if test="parentCode != null and parentCode != '' ">
			 AND PARENT_CODE = #{parentCode}
		 </if>
		 <if test="code != null and code != '' ">
			 AND CODE = #{code}
		 </if>
		 <if test="codeNm != null and codeNm != '' ">
			 AND CODE_NM = #{codeNm}
		 </if>
		 <if test="useAt != null and useAt != '' ">
			 AND USE_AT = #{useAt}
		 </if>
		 ORDER BY SORT
	</select>
	<insert id="insertCmmnCode" parameterType="CmmnCodeVO" >
		 insert into CMMN_CODE(
			PARENT_CODE,
			GRP_CODE,
			CODE,
			CODE_NM,
			CODE_DC,
			USE_AT,
			SORT,
			FRST_REGIST_DT,
			FRST_REGISTER,
			LAST_REGIST_DT,
			LAST_REGISTER 
		) values(
			#{parentCode},
			#{grpCode},
			#{code},
			#{codeNm},
			#{codeDc},
			#{useAt},
			#{sort},
			#{frstRegistDt},
			#{frstRegister},
			#{lastRegistDt},
			#{lastRegister}
		)
	</insert>
	<update id="updateCmmnCode" parameterType="CmmnCodeVO" >
		 update CMMN_CODE
		 set
			PARENT_CODE = #{parentCode},
			CODE = #{code},
			CODE_NM = #{codeNm},
			CODE_DC = #{codeDc},
			USE_AT = #{useAt},
			SORT = #{sort},
			FRST_REGIST_DT = #{frstRegistDt},
			FRST_REGISTER = #{frstRegister},
			LAST_REGIST_DT = #{lastRegistDt},
			LAST_REGISTER  = #{lastRegister }
		 where 
			 PARENT_CODE = #{parentCode}
			 AND CODE = #{code}
	</update>
	<delete id="deleteCmmnCode" parameterType="CmmnCodeVO" >
		 delete from CMMN_CODE
		 where 
			PARENT_CODE = #{parentCode}
			AND CODE = #{code}
	</delete>
</mapper>