<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PRK0002">
	<select id="selectPrkplaceCell" parameterType="PrkCellVO" resultType="camelCaseMap">
		 select
			PRKPLCE_CODE,
			PRKPLCE_FLR_CODE,
			CELL_MAPNG_ID,
			CELL_TYPE,
			STYLE_CLS,
			SALE_CAR_INNB,
			X,
			Y,
			TRANSFORM,
			SHAPE,
			WIDTH,
			HEIGHT
		 from PRKPLCE_CELL_MNG
		 where 1=1
		 <if test="prkplceCode != null and prkplceCode != '' ">
			 AND PRKPLCE_CODE = #{prkplceCode}
		 </if>
		 <if test="prkplceFlrCode != null and prkplceFlrCode != '' ">
			 AND PRKPLCE_FLR_CODE = #{prkplceFlrCode}
		 </if>
		 <if test="cellMapngId != null and cellMapngId != '' ">
			 AND CELL_MAPNG_ID = #{cellMapngId}
		 </if>
		 <if test="cellType != null and cellType != '' ">
			 AND CELL_TYPE = #{cellType}
		 </if>
		 <if test="styleCls != null and styleCls != '' ">
			 AND STYLE_CLS = #{styleCls}
		 </if>
		 <if test="saleCarInnb != null and saleCarInnb != '' ">
			 AND SALE_CAR_INNB = #{saleCarInnb}
		 </if>
		 <if test="x != null and x != '' ">
			 AND X = #{x}
		 </if>
		 <if test="y != null and y != '' ">
			 AND Y = #{y}
		 </if>
		 <if test="width != null and width != '' ">
			 AND WIDTH = #{width}
		 </if>
		 <if test="height != null and height != '' ">
			 AND HEIGHT = #{height}
		 </if>
		 <if test="transform != null and transform != '' ">
			 AND TRANSFORM = #{transform}
		 </if>
		 <if test="shape != null and shape != '' ">
			 AND SHAPE = #{shape}
		 </if>
	</select>
	<insert id="insertPrkplaceCell" parameterType="PrkCellVO" >
		 insert into PRKPLCE_CELL_MNG(
			PRKPLCE_CODE,
			PRKPLCE_FLR_CODE,
			CELL_MAPNG_ID,
			CELL_TYPE,
			STYLE_CLS,
			SALE_CAR_INNB,
			X,
			Y,
			WIDTH,
			HEIGHT,
			SHAPE,
			TRANSFORM
		) values(
			#{prkplceCode},
			#{prkplceFlrCode},
			#{cellMapngId},
			#{cellType},
			#{styleCls},
			#{saleCarInnb},
			#{x},
			#{y},
			#{width},
			#{height},
			#{shape},
			#{transform}
		)
	</insert>
	<update id="updatePrkplaceCell" parameterType="PrkCellVO" >
		 update PRKPLCE_CELL_MNG
		 set
			CELL_TYPE = #{cellType},
			STYLE_CLS = #{styleCls},
			SALE_CAR_INNB = #{saleCarInnb},
			X = #{x},
			Y = #{y},
			WIDTH = #{width},
			HEIGHT = #{height},
			SHAPE = #{shape},
			TRANSFORM = #{transform}
		 where 
			 PRKPLCE_CODE = #{prkplceCode}
			 AND PRKPLCE_FLR_CODE = #{prkplceFlrCode}
			 AND CELL_MAPNG_ID = #{cellMapngId}
	</update>
	<delete id="deletePrkplaceCell" parameterType="PrkCellVO" >
		 delete from PRKPLCE_CELL_MNG
		 where
		 1=1 
			 <if test="prkplceCode != null and prkplceCode != '' ">
				 AND PRKPLCE_CODE = #{prkplceCode}
			 </if>
			 <if test="prkplceFlrCode != null and prkplceFlrCode != '' ">
				 AND PRKPLCE_FLR_CODE = #{prkplceFlrCode}
			 </if>
			 <if test="cellMapngId != null and cellMapngId != '' ">
				 AND CELL_MAPNG_ID = #{cellMapngId}
			 </if>
	</delete>
	
	<select id="selectSvgObjectInfo" parameterType="com.lfc.prk.prk0002.vo.SvgObjectInfoVO" resultType="camelCaseMap">
		 select
			CELL_TYPE,
			CELL_NM,
			SHAPE,
			STYLE,
			STYLE_CLS as class,
			FILL,
			STROKE,
			STROKE_WIDTH,
			STROKE_DASHARRAY,
			STROKE_LINECAP,
			FILL_OPACITY,
			STROKE_OPACITY,
			CX,
			CY,
			RX,
			RY,
			R,
			X,
			Y,
			X1,
			Y1,
			X2,
			Y2,
			D,
			DX,
			DY,
			POINTS,
			TRANSFORM,
			WIDTH,
			HEIGHT
		 from SVG_OBJECT_INFO
		 where 1=1
		 <if test="cellType != null and cellType != '' ">
			 AND CELL_TYPE = #{cellType}
		 </if>
	</select>
	
	
	
	
	<select id="selectPrkplaceFlr" parameterType="PrkFlrVO" resultType="camelCaseMap">
		 select
			PRKPLCE_CODE,
			PRKPLCE_FLR_CODE,
			PRKPLCE_FLR_NM,
			DRW_PATH,
			DRW_SIZE_WIDTH,
			DRW_SIZE_HEIGHT,
			SORT,
			RM
		 from PRKPLCE_FLR_MNG
		 where 1=1
		 <if test="prkplceCode != null and prkplceCode != '' ">
			 AND PRKPLCE_CODE = #{prkplceCode}
		 </if>
		 <if test="prkplceFlrCode != null and prkplceFlrCode != '' ">
			 AND PRKPLCE_FLR_CODE = #{prkplceFlrCode}
		 </if>
		 <if test="prkplceFlrNm != null and prkplceFlrNm != '' ">
			 AND PRKPLCE_FLR_NM = #{prkplceFlrNm}
		 </if>
		 <if test="drwPath != null and drwPath != '' ">
			 AND DRW_PATH = #{drwPath}
		 </if>
		 <if test="drwSizeWidth != null and drwSizeWidth != '' ">
			 AND DRW_SIZE_WIDTH = #{drwSizeWidth}
		 </if>
		 <if test="drwSizeHeight != null and drwSizeHeight != '' ">
			 AND DRW_SIZE_HEIGHT = #{drwSizeHeight}
		 </if>
		 <if test="sort != null and sort != '' ">
			 AND SORT = #{sort}
		 </if>
		 <if test="rm != null and rm != '' ">
			 AND RM = #{rm}
		 </if>
	</select>
	<insert id="insertPrkplaceFlr" parameterType="PrkFlrVO" >
		 insert into PRKPLCE_FLR_MNG(
			PRKPLCE_CODE,
			PRKPLCE_FLR_CODE,
			PRKPLCE_FLR_NM,
			DRW_PATH,
			DRW_SIZE_WIDTH,
			DRW_SIZE_HEIGHT,
			SORT,
			RM
		) values(
			#{prkplceCode},
			#{prkplceFlrCode},
			#{prkplceFlrNm},
			#{drwPath},
			#{drwSizeWidth},
			#{drwSizeHeight},
			#{sort},
			#{rm}
		)
	</insert>
	<update id="updatePrkplaceFlr" parameterType="PrkFlrVO" >
		 update PRKPLCE_FLR_MNG
		 set
		 	RM = ''
			 <if test="drwPath != null and drwPath != '' ">
				 ,DRW_PATH = #{drwPath}
			 </if>
			 <if test="drwSizeWidth != null and drwSizeWidth != '' ">
				 ,DRW_SIZE_WIDTH = #{drwSizeWidth}
			 </if>
			 <if test="drwSizeHeight != null and drwSizeHeight != '' ">
				 ,DRW_SIZE_HEIGHT = #{drwSizeHeight}
			 </if>
			 <if test="sort != null and sort != '' ">
				 ,SORT = #{sort}
			 </if>
			 <if test="rm != null and rm != '' ">
				 ,RM = #{rm}
			 </if>
		 where 
			 PRKPLCE_CODE = #{prkplceCode}
			 AND PRKPLCE_FLR_CODE = #{prkplceFlrCode}
	</update>
	<delete id="deletePrkplaceFlr" parameterType="PrkFlrVO" >
		 delete from PRKPLCE_FLR_MNG
		 where 
			 PRKPLCE_CODE = #{prkplceCode}
			 AND PRKPLCE_FLR_CODE = #{prkplceFlrCode}
	</delete>
	
	
	
	
	
	
	
	
	
</mapper>