<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MGR0001">

	<select id="selectMenuList" parameterType="menuInfoVO" resultType="menuInfoVO">
		 select
			MENU_ID			as menuId     ,
			MENU_DIV		as menuDiv    ,
			MENU_NM			as menuNm     ,
			MENU_KIND_CD	as menuKindCd ,
			MENU_PID		as menuPid    ,
			MENU_URL		as menuUrl    ,
			MENU_IMG1		as menuImg1   ,
			MENU_IMG2		as menuImg2   ,
			MENU_ICON		as menuIcon   ,
			SORT			as sort       ,
			USE_AUTH		as useAuth    ,
			USE_AT			as useAt      ,
			REG_DT			as regDt      ,
			REG_USER_ID     as regUserId  
		 from MENU_INFO
		 where 1=1
		 <if test="menuId != null and menuId != '' ">
			 AND MENU_ID = #{menuId}
		 </if>
		 <if test="menuDiv != null and menuDiv != '' ">
			 AND MENU_DIV = #{menuDiv}
		 </if>
		 <if test="menuNm != null and menuNm != '' ">
			 AND MENU_NM = #{menuNm}
		 </if>
		 <if test="menuKindCd != null and menuKindCd != '' ">
			 AND MENU_KIND_CD = #{menuKindCd}
		 </if>
		 <if test="menuPid != null and menuPid != '' ">
			 AND MENU_PID = #{menuPid}
		 </if>
		 <if test="useAuth != null and useAuth != '' ">
			 AND USE_AUTH = #{useAuth}
		 </if>
		 <if test="useAt != null and useAt != '' ">
			 AND USE_AT = #{useAt}
		 </if>
	</select>
	<insert id="insertMenu" parameterType="menuInfoVO" >
		 insert into MENU_INFO(
			MENU_ID,
			MENU_DIV,
			MENU_NM,
			MENU_KIND_CD,
			MENU_PID,
			MENU_URL,
			MENU_IMG1,
			MENU_IMG2,
			MENU_ICON,
			SORT,
			USE_AUTH,
			USE_AT,
			REG_DT,
			REG_USER_ID
		) values(
			#{menuId},
			#{menuDiv},
			#{menuNm},
			#{menuKindCd},
			#{menuPid},
			#{menuUrl},
			#{menuImg1},
			#{menuImg2},
			#{menuIcon},
			#{sort},
			#{useAuth},
			#{useAt},
			#{regDt},
			#{regUserId}
		)
	</insert>
	<update id="updateMenu" parameterType="menuInfoVO" >
		 update MENU_INFO
		 set
			MENU_DIV = #{menuDiv},
			MENU_NM = #{menuNm},
			MENU_KIND_CD = #{menuKindCd},
			MENU_PID = #{menuPid},
			MENU_URL = #{menuUrl},
			MENU_IMG1 = #{menuImg1},
			MENU_IMG2 = #{menuImg2},
			MENU_ICON = #{menuIcon},
			SORT = #{sort},
			USE_AUTH = #{useAuth},
			USE_AT = #{useAt},
			REG_DT = #{regDt},
			REG_USER_ID = #{regUserId}
		 where 
		 AND 1=1
		 AND MENU_ID = #{menuId}
	</update>
	<delete id="deleteMenu" parameterType="menuInfoVO" >
		 delete from MENU_INFO
		 where 
			 MENU_ID = #{menuId}
	</delete>
</mapper>